<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link rel="stylesheet" href="/lsx2_detail.css">
</head>

<body>
    <table>{{range .}}<tr>
            <td class="k">{{.Label}}</td>
            <td>{{.Value}}</td>
        </tr>{{end}}</table>
</body>

</html>